html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: #f0f0f0;
  }
  

  .user-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center;    
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;            
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  button:hover:not(:disabled) {
    background-color: #45a049;
  }
  
  .loading-indicator {
    font-size: 18px;
    color: #ff9800;
  }
  
  .user-card {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .user-card p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  /* Style for the email container */
  .email-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .email-container span {
    font-size: 14px;
    color: #555;
  }
  